---
layout: default
---

<header class="container">
	<div class="row">
		<div class="col-md-9">
		<h1>Peter Kaizer</h1>
		<p>204 Murdock Rd, Baltimore, Maryland 21212</p>
		</div>
		<div class="col-md-3 header-contact">
		<p><a href="http://www.linkedin.com/in/pdkaizer">www.linkedin.com/in/pdkaizer</a><br />
		410.340.4285<br />
		<a href="mailto:pdkaizer@gmail.com<">pdkaizer@gmail.com</a></p>
		</div>
	</div>
	<hr />
</header>

<div class="container">

    <div class="row">

       <div class="col-md-8">

       {{ content }}

	   </div>

       {% include resume-sidebar.html %}        
     </div>

</div>